.products-container {
   position: relative;
   border: 1px solid;
   box-shadow: 4px 1px 6px 0px #888888;
}

.product-scrolling {
   height: calc(100vh - 110px);
}

.filter {
   display: flex;
   align-items: center;
   width: 500px;
   font-size: 18px;
   padding: 18px 14px;
}

.button-clear {
   background-color: #374af5;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px;
   cursor: pointer;
   font-size: 14px;
}

.button-clear:disabled {
   cursor: no-drop;
}
